{% extends "userbase.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Welcome {{ user.first_name }} {{ user.last_name }}</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="/searchProject" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search by status..." name="search_query" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="/searchByNameProject" method="post">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search by name..." name="search_name_query" aria-describedby="button-addon3">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon3">Search by Name</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        
        {% if user.projects %}
        <div class="jumbotron">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Deadline</th>
                        <th>Status</th>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    {% for project in user.projects %}
                        <tr class="{{ project.getStatusClass() }}">
                            <td>{{ project.name }}</td>
                            <td>{{ project.deadline.strftime('%Y-%m-%d %H:%M') }}</td>
                            <td>{{ project.status }}</td>

                            <td class="text-center">
                                <form action="/editProject" method="post">
                                    <input type="hidden" name="hiddenProjectId"  value="{{ project.project_id }}"/>                                   
                                    <button type="submit" class="btn btn-info">Edit</button>
                                </form>
                            </td>

                            <td class="text-center">
                                <form action="/deleteProject" method="post">
                                    <input type="hidden" name="hiddenProjectId" value="{{ project.project_id }}"/>
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </td>
                        </tr>                     
                    {% endfor %}
                </tbody>
            </table>

            <p class="lead"></p>

            <p><a class="btn btn-lg btn-success" href="/newProject">New project</a></p>
        </div>
        {% else %}
        <div class="jumbotron text-center">
            <div class="alert alert-warning text-center">
                <h4>You dont have project in list!</h4>
            </div>

            <p class="lead"></p>

            <p><a class="btn btn-lg btn-success" href="/newProject">New project</a></p>
        </div>
        {% endif %}

        
    </div>
{% endblock %}